<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ioc">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity android:name=".ui.home.Elements.Libraryclass.Lib1"></activity>
        <activity android:name=".ui.home.Elements.LibraryMain.Libmain" />
        <activity android:name=".ui.work.Listworker" />
        <activity
            android:name=".SplashScreensClass.SplashActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.Elements.Floraclass.CauliflowerClass.Cauliflowermain" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.CaradHar" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.PestCarda" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.IrrigationCard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.NutritionCard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.Fertilcard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.Landcard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.Manurcard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.PerpaCard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.PropCard" />
        <activity android:name=".ui.home.Elements.Floraclass.CardamomClass.CardamomMain" />
        <activity android:name=".ui.home.Elements.Floraclass.CarambolaClass.PropCara" />
        <activity android:name=".ui.home.Elements.Floraclass.CarambolaClass.InterCara" />
        <activity android:name=".ui.home.Elements.Floraclass.CarambolaClass.Pestcara" />
        <activity android:name=".ui.home.Elements.Floraclass.CarambolaClass.Carahar" />
        <activity android:name=".ui.home.Elements.Floraclass.CarambolaClass.Carambolamain" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.Nurcab" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.Watercab" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.Pestcab" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.Weedcab" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.cabhar" />
        <activity android:name=".ui.home.Elements.Floraclass.CabbageClass.Cabbagemain" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.Sowbeans" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.PreBeans" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.SpBeans" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.Nurbean" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.Foilarbean" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.Peastbeans" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.harbean" />
        <activity android:name=".ui.home.Elements.Floraclass.Beansclass.Beansmain" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.Nurasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.waterasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.Nutasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.Spaasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.InterAsp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.disasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.wedasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.harasp" />
        <activity android:name=".ui.home.Elements.Floraclass.Asparagusclass.Asparagusmain" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.Insapl" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.haryieapm" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.floalm" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.wedalm" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.waterald" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.haramd" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.spalmond" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.nutald" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.trainalmo" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.feralmond" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.proalmond" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.nuralmond" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.almondplant" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.almondinter" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.limePlanting" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.limenu" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.limecul" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.limePlant" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.acidhar" />
        <activity android:name=".ui.home.Elements.Floraclass.acidlimemodel.acidlimeclass" />
        <activity android:name=".camActivity" />
        <activity android:name=".discam" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatplant" />
        <activity android:name=".ui.settings.lang" />
        <activity android:name=".ui.ItemDetailsActivity" />
        <activity android:name=".SplashScreensClass.MainActivitySplitScreen" />
        <activity android:name=".ui.PestMain.pest48" />
        <activity android:name=".ui.PestMain.pest47" />
        <activity android:name=".ui.PestMain.pest46" />
        <activity android:name=".ui.PestMain.pest45" />
        <activity android:name=".ui.PestMain.pest44" />
        <activity android:name=".ui.PestMain.pest43" />
        <activity android:name=".ui.PestMain.pest42" />
        <activity android:name=".ui.PestMain.pest41" />
        <activity android:name=".ui.PestMain.pest40" />
        <activity android:name=".ui.PestMain.pest39" />
        <activity android:name=".ui.PestMain.pest38" />
        <activity android:name=".ui.PestMain.pest37" />
        <activity android:name=".ui.PestMain.pest36" />
        <activity android:name=".ui.PestMain.pest35" />
        <activity android:name=".ui.PestMain.pest34" />
        <activity android:name=".ui.PestMain.pest33" />
        <activity android:name=".ui.PestMain.pest32" />
        <activity android:name=".ui.PestMain.pest31" />
        <activity android:name=".ui.PestMain.pest30" />
        <activity android:name=".ui.PestMain.pest29" />
        <activity android:name=".ui.PestMain.pest28" />
        <activity android:name=".ui.PestMain.pest27" />
        <activity android:name=".ui.PestMain.pest26" />
        <activity android:name=".ui.PestMain.pest25" />
        <activity android:name=".ui.PestMain.pest24" />
        <activity android:name=".ui.PestMain.pest23" />
        <activity android:name=".ui.PestMain.pest22" />
        <activity android:name=".ui.PestMain.pest21" />
        <activity android:name=".ui.PestMain.pest20" />
        <activity android:name=".ui.PestMain.pest19" />
        <activity android:name=".ui.PestMain.pest18" />
        <activity android:name=".ui.PestMain.pest17" />
        <activity android:name=".ui.PestMain.pest16" />
        <activity android:name=".ui.PestMain.pest15" />
        <activity android:name=".ui.PestMain.pest14" />
        <activity android:name=".ui.PestMain.pest13" />
        <activity android:name=".ui.PestMain.pest12" />
        <activity android:name=".ui.PestMain.pest11" />
        <activity android:name=".ui.PestMain.pest10" />
        <activity android:name=".ui.PestMain.pest9" />
        <activity android:name=".ui.PestMain.pest8" />
        <activity android:name=".ui.PestMain.pest7" />
        <activity android:name=".ui.PestMain.pest6" />
        <activity android:name=".ui.PestMain.pest5" />
        <activity android:name=".ui.PestMain.pest4" />
        <activity android:name=".ui.PestMain.pest3" />
        <activity android:name=".ui.PestMain.pest2" />
        <activity android:name=".ui.PestMain.pest1" />
        <activity android:name=".ui.PestMain.Pestclass" />
        <activity android:name=".ui.home.Elements.Libraryclass.Libaraymain" />
        <activity android:name=".ui.Suggestionsclass.Chat" />
        <activity android:name=".CHATPOST.mainpost" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis38" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis37" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis36" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis35" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis34" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis33" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis32" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis31" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis30" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis29" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis28" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis27" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis26" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis25" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis24" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis23" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis22" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis21" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis20" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis19" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis18" />
        <activity android:name=".ui.Suggestionsclass.suggestionsmain" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis17" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis16" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis15" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis14" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis13" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis12" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis11" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis10" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis9" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis8" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis7" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis6" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis5" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis4" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis3" />
        <activity android:name=".ui.home.Elements.Diseasesclass.Dis2" />
        <activity android:name=".login.profileupdate" />
        <activity android:name=".ui.home.Elements.Diseasesclass.dis1" />
        <activity android:name=".ui.home.Elements.News.tamnews" />
        <activity android:name=".ui.home.Elements.News.newsHindi" />
        <activity android:name=".ui.home.Elements.News.Newsclass" />
        <activity android:name=".ui.home.Elements.News.TeluguNews" />
        <activity android:name=".ui.settings.faqclass.faqTam.Tamilfaq" />
        <activity android:name=".ui.settings.faqclass.faqHin.Hindifaq" />
        <activity android:name=".ui.settings.faqclass.faqEng.Engclass" />
        <activity android:name=".ui.settings.faqclass.faqTel.telclass" />
        <activity android:name=".ui.settings.faqclass.FAQmain" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatasd" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatprotection" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatweed" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatwater" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.soilwheat" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatsf" />
        <activity android:name=".ui.home.Elements.Floraclass.wheatclass.wheatmain" />
        <activity android:name=".ui.Suggestionsclass.SubComments" />
        <activity android:name=".ui.Suggestionsclass.CommentsActivity" />
        <activity android:name=".ui.Suggestionsclass.post_data" />
        <activity android:name=".CHATPOST.Createpost" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".camclass" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackhar" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackplant" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackweed" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackwater" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackirr" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackfer" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackseed" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackfield" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackseeds" />
        <activity android:name=".ui.home.Elements.Floraclass.blackgramclass.blackgram" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotpost" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotharvest" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotweed" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotdis" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotpest" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotnut" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotwater" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrotpro" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.swoingcor" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.corseeds" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.corifer" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.coriirrgation" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.corianderplant" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.cordiseases" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.storagecor" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.harvestcor" />
        <activity android:name=".ui.home.Elements.Floraclass.corainder.corainderclass" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.znio" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.pusa1" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.Chantenay" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.ooty1" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.nan" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.nantes" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.meghali" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.pusa" />
        <activity android:name=".ui.home.Elements.Floraclass.carrotclass.carrot" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Yield" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.apppest" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.appdisorder" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.appweed" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.appprotect" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.harvestingapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Pruning" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.redapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Irrigationapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Timeapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.appleSpecialty" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Plantingapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Propagationapp" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Lal" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Chaubattia" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.McIntosh" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.goldapple" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.soilclass.soiltesting" />
        <activity android:name=".ui.home.Elements.Diseasesclass.Diseases" />
        <activity android:name=".ui.home.Elements.Libraryclass.Library" />
        <activity android:name=".ui.home.Elements.Floraclass.Sugercane" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.redrice" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.wild" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Forbidden" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Whiterice" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Jasmine" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Brownrice" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Basmati" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.Arborio" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.rice" />
        <activity android:name=".ui.home.Elements.Floraclass.appleclass.Apple" />
        <activity
            android:name=".ui.home.Elements.News.News"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home" />
        <activity android:name=".ui.home.Elements.Floraclass.Ricrclass.soilclass.soil" />
        <activity android:name=".ui.home.Elements.Floraclass.Flora" />
        <activity android:name=".ui.home.Elements.Floraclass.Almondclass.Almonddata" />
        <activity android:name=".ui.work.workerreg" />
        <activity android:name=".ui.farmerclass.farmerlist" />
        <activity android:name=".ui.farmerclass.farmerregistration" />
        <activity android:name=".ui.traderclass.traderregistation" />
        <activity android:name=".ui.traderclass.traderslist" />
        <activity android:name=".ui.Investorclass.investorreglist" />
        <activity android:name=".ui.Investorclass.investorregistration" />
        <activity android:name=".ui.home.Elements.Store" />
        <activity android:name=".login.updatepassword" />
        <activity android:name=".login.profile" />
        <activity android:name=".login.forgotpass" />
        <activity android:name=".login.register" />
        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.LoginActivity" />
    </application>

</manifest>